* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: darkgray;
font-family: Arial, Helvetica, sans-serif;
color: #333;

}

#header {
    background-color: #444; 
    color: white; 
    padding: 20px;
    text-align: center;
    margin-bottom: 30px; 
}

#pimba-form {
    background-color: #fff;
    color: #333;
    padding:30px;
    border-radius:8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin:0 auto;
}

#pimba-form h2 {
    text-align: center;
    margin-bottom: 25px;
}

#pimba-form label {
    display: block;
    margin-bottom:15px;
    font-weight:bold;
}

#pimba-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px; 
}

#submit {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.1em;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

#submit:hover {
 background-color: #0056b3;
}

button{
    display: block;
    width:600px;
    margin:20px auto;
    background-color: transparent;
    border: 1px solid #007bff;;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3 ease;
}

button:hover {
    background-color: #007bff;
    color: white;
}

