table{
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
    background-color: darkgray;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border: 1px solid #eee;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.historico-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px
}

.historico-container h1, 
.historico-container h2 {
    text-align: center; 
    margin-bottom: 15px;
}




